<div class="col-md-12">
    {{ form_start(form) }}
        <div class="form-group col-md-6 ">
            <label>Kategori</label>
            {{ form_widget(form.category)}}
        </div>
        <div class="form-group col-md-6 ">
            <label>Başlık</label>
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group col-md-6 ">
            <label>Fiyatı</label>
            {{ form_widget(form.price) }}
        </div>
        <div class="form-group col-md-6 ">
            {{ form_row(form.imageFile) }}
        </div>


        <div class="row col-md-12">
            <div class="col-md-6 form-group">
                <a href="{{ path('admin_product_index') }}" class="btn btn-primary btn-block"><span
                            class="glyphicon glyphicon-arrow-left"> </span> Listeye Geri Dön</a>
            </div>
            <div class="col-md-6 form-group">
                {{ form_row(form.Save) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>